nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  place-items: center;
  justify-content: center;
}

nav h1 {
  color: white;
  font-size: 45px;
  margin-right: 40px;
  font-family: serif;
}

.menuRow {
  display: flex;
  width: 90%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.menu {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  background: #121212;
  width: 100%;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typeButtons {
  display: flex;
  margin: 15px 0;
}

.left {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.right {
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
}

nav button {
  padding: 10px;
  background-color: #121212;
  color: white;
  cursor: pointer;
}

.active {
  background-color: white;
  color: #121212;
}
